.navbarTopcontainer{
    height: 50px;
}


.editnav-container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto 12px;
    margin-top: 12px;
}


.editnav-container p {
    width: 24px;
    height: 24px;
    background-color: rgb(80, 80, 80);
    border-radius: 50px;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    cursor: pointer;
    margin: 2px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.editnav-container p,
.editnav-container p *
 {
    font-family: Helvetica, sans-serif ;
}

.editnav-container .feedback-btn {
    font-weight: normal;
}

.editnav-container .share {
    width: auto;
    /* line-height: 21px; */
    border-width: 0;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: 14px 14px; */
    /* align-items: center; */

}

.navbar-btn {
    display: flex;
    /* justify-content: space-between; */
    /* width: 18%; */
}




@media only screen and (max-width:500px) {
    .editnav-container p {
        margin: auto 1px;
        padding: 3px 0px;
    }
    .navbar-btn{
       margin-top: 2px;
    }
}

.adsContainer {
    /* border: 1px solid rgb(211, 201, 201); */
    display: flex;

    height: 90px;
    margin: 10px auto;
    width: 60%;
    background-image: url('../assets/editorad.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.writeUrl{
    /* text-decoration: none;
    color: #fff;
    font-size: 15px; */
    /* width: 90px !important; */
    background-color: transparent !important;
    box-shadow: none !important;
}
.writeUrl *{
    box-shadow: none;
    background-color: #fff;
    width: auto !important;
    color: #000 !important;
    font-size: 19px;
    padding: 6px 9px;
    /* border-radius: 50px;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%); */
    font-weight: bold;
}

.writeUrl *:hover{
    color:#0d6efd

}
aside#panel, aside#panel-bottom{
    position: relative;
    padding: 0%;
}
.feedbacks{
    position: relative !important;
    top: 0px !important;
    right: -8px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
}
.feedbacks:hover{
    color: #000 !important;
}
@media screen and (max-width: 400px) {
    #feedback{
        top:28px
        
    }
    .writeURKlink{
        padding-right: 0px;
        padding-left: 0px;
        font-size: 15px;
    }
    .navbarTopcontainer{
        height: 80px;
    }
    .editnav-container{
       
        /* display: block !important; */
        height: 75%;
        }
    .navbar-btn{
        justify-content: center;
        /* margin-top: 3%; */
    }

  }

/* style={{ textDecoration: 'none', color: '#000000', fontSize: "15px" }} */